<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>BVNY5T73P8.com.apple.Playgrounds.CompilerExtension</string>
	<key>com.apple.developer.team-identifier</key>
	<string>BVNY5T73P8</string>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/private/var/mobile/Library/Mobile Documents/iCloud~com~apple~Playgrounds/Documents</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
