<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiriUI</key>
	<dict>
		<key>sae</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Siri</key>
	<dict>
		<key>sae_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>assistant_engine_override</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
